.navbar {
   background:rgba(0,0,0,0.9);   /* for latest browsers */
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navigation_bar .navbar-brand {
  height: 80px;
}

.navigation_bar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 20px;
}
.navigation_bar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}



.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}



li.dropdown:hover > .dropdown-menu {
    display: block;
}
li.dropdown .dropdown-menu{
  background-color: rgba(0,0,0,0.9);
}


